.contact-form {
    padding-top: 40px;
    padding-inline: 40px;
    padding-bottom: 20px;
    text-align: start;
    background-color: var(--color-background);
}

.email-input{
    width: 30vw;
    height: 50px;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: space-between;
}

.form-row img {
    height: 30vw;
}
.form-fields-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5px;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-start;

}


.footer-content img{
    width: 50px;
    margin-bottom: 15px;
}
.socials{
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.socials img{
    width: 50px;
    height: 50px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 25px;
    margin: 40px;
}

.contact-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contact-item p {
    margin: 0 !important;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px; /* Distance from the bottom of the viewport */
    right: 20px; /* Distance from the right of the viewport */
    z-index: 1000; /* Ensure it appears on top of other elements */
}

.whatsapp-float a {
    display: block;
    width: 60px; /* Adjust button size */
    height: 60px;
    border-radius: 50%; /* Makes the button circular */
    background-color: #25d366; /* WhatsApp green color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-float img {
    width: 100%; /* Make the icon fit inside the button */
    height: 100%;
    border-radius: 50%; /* Keeps the image circular */
    padding: 10%;
}

.whatsapp-float a:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}
  

@media(max-width: 800px){
    .footer-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: flex-start;
    }
    .form-row {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: space-between;
    }
    
    .form-row img {
        height: 50%;
    }
    .form-fields-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }
}

@media(max-width: 500px){
    .footer-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: flex-start;
    
    }
}