@media only screen and (min-width: 992px) { 
.navbar-container .menu-bar-btn{
    display: none !important;
}

.menu-bar-btn {
    display: none !important;
}
}

@media only screen and (max-width: 991px) { 
.navbar-container .navbar-links {
    display: none !important;
}

.logo-container {
    padding: 16px 45px;
}

.navbar {
    padding: 15px 15px !important;
}

.quote-button {
    display: none !important;
}

.image-container {
    display: none !important;
}

.services {
    padding-inline: 15px !important;
}

.project-stats {
    margin-left: 0vw !important;
    margin-right: 0vw !important;
}

.main {
    padding-top: 0px !important;
    padding-inline: 15px !important;
}

.work-proposition-card {
    padding: 30px 15px !important;
}

.card-heading {
    font-size: 24px !important;
    margin-bottom: 15px !important;
}

.projects {
    padding-inline: 15px !important;
}

.why-choose {
    padding-inline: 15px !important;
}

.customer-stories {
    padding-top: 0px !important;
    padding-inline: 15px !important;
}

.tools-tech-section {
    padding-top: 0px !important;
    padding-inline: 15px !important;
    padding-bottom: 0 !important;
}

.tech-list .tech-item .card-description {
    margin-bottom: 0 !important;
}

.tech-list .tech-item .card-heading {
    margin-bottom: 0 !important;
}

.contact-form {
    padding-inline: 15px !important;
}

.footer-content .column {
    gap: 15px;
    margin: 15px;
}

.strategy-item-text {
    display: none !important;
}

.heading {
    font-size: 30px !important;
} 

.mobile-sidebar ul.navbar-links {
    display: flex !important;
    width: 100%;
    padding: 0;
    margin: 0;
    background: transparent;
    flex-direction: column;
    row-gap: 16px;
}

.mobile-sidebar ul.navbar-links li {
    background-color: var(--color-background);
    padding: 22px 25px;
    border-radius: 1000px;
}

.mobile-sidebar ul.navbar-links li a {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
}

}